<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href='{{url_for("static",filename="Bootstrap/bootstrap.min.css")}}'>
    <script src="{{ url_for('static', filename='JS/jquery.min.js') }}"></script>
    <title>Registeration Form</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6" style="margin-top: 40px;">
                <h2 class="text-primary page-header text-center">REGISTERATION</h2>
                <form method="POST" action="/register">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="uname">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Mail ID</label>
                        <input type="text" class="form-control" name="umail">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="upass">
                    </div>
                    <br>
                    <div class="form-group" style="display: inline-block">
                        <input type="submit" class="form-control btn btn-success inline-block" value="REGISTER">
                    </div>
                    {%with messages=get_flashed_messages("with_categories=True")%}
                    {%if messages%}
                    {%for category, message in messages%}
                    <div class="alert alert-{{category}}">{{message}}</div>
                    {%endfor%}
                    {%endif%}
                    {%endwith%}
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $(".alert").hide(3000);
    })
</script>

</html>